{#
/**
 * @file fcm_push_entity.html.twig
 * Default theme implementation to present Fcm push entity data.
 *
 * This template is used when viewing Fcm push entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fcm_push_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fcm_push_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
